{%extends 'all-Folio/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
<div class="row">
{% for portifolio_item in portifolio %}
<div class="col-md-6">
<div class="add-data">
    <a href="" data-toggle="modal" data-target="#{{portifolio_item.id}}">
        <img src="{{portifolio_item.category_image.url}}" class="img-responsive port" alt="Image">
        <h4 class="bold">{{portifolio_item.category}}</h4>
    </a>
</div>
<div class="modal fade" id="{{portifolio_item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title uppercase capital bold " id="myModalLabel">{{portifolio_item.title}}</h3>
            </div>
            <div class="modal-body">
                <div class="cont">
                    <img src="{{portifolio_item.category_image.url}}" class="img-responsive port" alt="Image">
                </div>
                <h3>{{portifolio_item.location}}</h3>
                <p>{{portifolio_item.description}}</p>
                <h6>{{portifolio_item.pub_date}}</h6>
            </div>
            <div class="modal-footer">
                <input type="button" id="" value="{{portifolio_item.category_image.url }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endfor%}
</div>
</div>


{% endblock %}