{%extends 'all-Folio/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                    <h5 class="card-title">School-Photos</h5>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/school/" class="btn btn-primary">Go somewhere and see more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                    <h5 class="card-title">Party-Photos</h5>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/party/" class="btn btn-primary">Go somewhere and see more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                    <h5 class="card-title">Travel-Photos</h5>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/travel/" class="btn btn-primary">Go somewhere and see more</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                    <h5 class="card-title">Activity-Photo</h5>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/activity/" class="btn btn-primary">Go somewhere and see more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}