h3
{
  color: green;
}
.port{
  padding-top: 30px;
  box-shadow: mediumvioletred;
  height:500px;
  width: 500px;
  
}
footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.container
{
  background-color: beige;
}

.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px) 
{
  
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}